.board-space{
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.board-space__hi-light{
  height: 85%;
  width: 85%;
  border-radius: 10%;
  background: var(--color__hi-light);
}
.board-space__blocked{
  background: var(--color__block);
}
