body { background-color: rgb(2, 18, 1);}
.color__board{background-color: rgb(0, 33, 15);}
.color__hi-light{background-color: rgb(184, 208, 31);}
.color__piece{background-color: rgb(39, 198, 3);}
.color__hi-block{background-color: rgb(246, 94, 29)}

/* place holder */
* {color:yellow;}
